DirectoryIndex index.php

RewriteEngine On

RewriteBase /work/consort-hardware/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

#RewriteRule ^ghost.html$ sam.html [L]


Redirect 301 /homepage /